*{
    border: 0.25px solid black;
    margin: 0;
    padding: 0;
}

.container-md{
    box-sizing: border-box;
    display: block;
    border: 0.5px solid black;
    width: 60%;
    height: 50%;
}

body{
    border: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

html{
    border: solid green;
    display: block;
    width: 100%;
    height: 100%;
}